<div class="search-sort-container">
  <div class="search-bar">
    <input type="text" placeholder="Search products" [(ngModel)]="searchText" (input)="onSearch()" />
  </div>

  <!-- Sorting Options -->
  <div class="sorting-options">
    <label for="sort">Sort by:</label>
    <select id="sort" [(ngModel)]="selectedSortOption" (change)="onSort()">
      <option value="priceLowToHigh">Price Low to High</option>
      <option value="priceHighToLow">Price High to Low</option>
      <!-- Add more sorting options as needed -->
    </select>
  </div>
</div>
<div class="product-grid">
  <div class="product-card" *ngFor="let product of products">
    <img [src]="product.image" alt="{{ product.name }}" class="product-image" />
    <h3 class="product-name">{{ product.name }}</h3>
    <p class="product-info">Weight: {{ product.weight }} g</p>
    <p class="product-info">Price: ${{ product.price }}</p>

    <!-- Show Add to Cart button or quantity controls -->
    <ng-container *ngIf="!cartControls[product.id] || cartControls[product.id].quantity === 0">
      <button class="add-to-cart-button" (click)="addToCart(product)">
        <i class='fas fa-shopping-cart fa-spin fa-1x'></i> Add to Cart
      </button>
    </ng-container>
    <ng-container *ngIf="cartControls[product.id] && cartControls[product.id].quantity > 0">
      <div class="quantity-controls">
        <button (click)="decreaseQuantity(product.id)">
          <i class="fas fa-minus"></i>
        </button>
        <span class="quantity">{{ cartControls[product.id].quantity }}</span>

        <button (click)="increaseQuantity(product.id)">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </ng-container>
  </div>
</div>

